
*{margin: 0;padding: 0;}
ul,li,ol,dl{list-style: none;}
a{text-decoration: none;}
body{font:12px "微软雅黑";}
img{border:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
.clear{clear: both;}
.head,.logo{width: 100%;}
.foot1,.foot2,.copy{margin: 0 auto;}
/*head=========================================================================*/
.head{height: 40px;background: #f8f8f8;}
.head a{color: #787878;}
.head a:hover{color: black;}
.headul1{float: left; margin:12px 0 0 18px;}
.headul1 li{float: left;padding: 0 9px;border-left: 1px solid #787878;}
.headul2{float: right;margin:12px 17px 0 0;}
.headul2 li{float: left;padding: 0 9px;border-left: 1px solid #787878;}
.head .noborder{border: none;}

/*logo===========================================================================*/
.logo{height: 98px;}
.logo img{margin: 31px 0 0 17px;}

/*login=============================================================*/
.login{width: 100%;height: 525px;background:url(../images/loginbg.png) no-repeat center #f9f9f9;}
.logindiv1{width: 338px;height: 525px;background: url(../images/logindiv1bg.png) no-repeat;float: left;margin-left: 198px;}
.logindiv2{width: 424px;height: 525px;float: left;margin-left: 160px;position: relative;}
.loginp1{font-size: 23px;margin: 46px 0 19px 119px;}
.login input{width: 334px;height: 40px;border: 1px solid #cccccc;margin: 6px 0;border-radius: 4px;font-size: 14px;text-indent: 20px;}
.login .denglu{background: #0186d1;color: white;border: none;cursor: pointer;}
.loginp2{height: 22px;line-height:22px;margin-left: 262px;width: 60px;}
.loginp2 a{color: #767676;}
.loginp2 a:hover{color: black;}
.loginqita{height: 49px;background: url(../images/loginqita.png) no-repeat;}
.qitatu img{float: left;margin-left: 27px;}
.qitatu .qitatu1{margin-left: 86px;}
.wangjimima{clear: both;line-height: 60px;height: 60px;}
.wangjispan1 a{color: blue;float: left;text-indent: 105px;font-size: 14px;}
.wangjispan2 a{color: #767676;float: left;text-indent: 26px;font-size: 14px;}
.wangjispan2 a:hover{color: black;}
.chuyanzhengma{display: block;height: 20px;width: 64px;background: #C2C2C2;position: absolute;top: 219px;left: 243px;font-size: 14px;text-indent: 10px;}

/*foot1=============================================================================*/
.foot1{width: 1230px;height: 138px;}
.foot1ul1{margin:57px 0 0 88px;float: left;}
.foot1ul1 li{float: left;height: 44px;margin-right: 120px; line-height: 44px;}
.foot1ul1li1{background: url(../images/foot1img1.png) no-repeat;}
.foot1ul1li2{background: url(../images/foot1img2.png) no-repeat;}
.foot1ul1li3{background: url(../images/foot1img3.png) no-repeat;}
.foot1ul1li4{background: url(../images/foot1img4.png) no-repeat;}
.foot1ul1 li span{display: inline-block;font-size: 16px;margin-left: 55px;}


/*foot2============================================================================*/
.foot2{width: 1230px;height: 284px;border-top:1px solid #dfdfdf;position: relative;}
.foot2 dl{float: left;margin-right: 100px;text-align: center;}
.foot2 dd a{color: #999999;}
.foot2 dt a{color: black;}
.foot2 dd a:hover{color: red;}
.foot2 dt{font-size: 16px; line-height: 128px;height: 78px;}
.foot2 dd{line-height: 41px;}
.foot2dl1{margin-left: 44px;}
.foot2 img{position: absolute;left: 913px;top: 67px;}
.foot2 p{color: #787878;position: absolute;left: 913px;top: 101px;}
.foot2 input{border: none;width:102px;height: 30px;color: white;background: url(../images/foot2img2.png) no-repeat 11px 9px #0086d1;position: absolute;left: 913px;top: 131px;padding-left:10px;}

/*copy============================================================================*/
.copy{width: 1230px;height: 90px;border-top:1px solid #dfdfdf}
.copy ul{margin: 16px 0 10px 437px;}
.copy ul li{float: left;border-left: 1px solid #7a7a7a;padding: 0 9px;}
.copy ul li a{color: #7a7a7a;}
.copy ul li a:hover{color: black;}
.copy p{color: #c2c2c2;text-align: center;line-height: 20px;}
.copy .noborder{border: none;}
.copyp1{clear: both;}









